@{
    ViewBag.Title = "About This Application";
}
@{
    ViewBag.Message = "College Registration Application - AIT";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is a simple application using ASP.net MVC for the Advanced Internet Technologies Module.
   I have created a system using the .Net framework which enables a user to add students, modules,
   lecturers and courses to the system.
</p>
