@{
    ViewBag.Title ="Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Eoin McDonald <br />
    X18103880<br />
    NCI Computing<br />
    National College Of Ireland<br />
    Course: BSHC3<br />
    Module: Advanced Internet Technologies
</address>

<address>
    <strong>Email</strong>   <a href="x18103880@student.ncirl.ie">x18103880@student.ncirl.ie</a>
</address>