@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>College Registration System</h1>
    <p class="lead">Eoin McDonald - X18103880 BSHC3</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Register Students</h2>
        <p>
            This application can register new students to the college.
        </p>

    </div>
    <div class="col-md-4">
        <h2>Register Lecturers</h2>
        <p>
            You may add Lecturers to the database.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Courses</h2>
        <p>
            Courses can be added to the College System.
        </p>
    </div>
    <br />
    <br />
    <div class="col-md-4">
        <h2>Modules</h2>
        <p>
            Modules can also be added to the College System.
        </p>
    </div>
</div>