
@{
    ViewBag.Title = "Search";
}

<h2>Search For Course By ID</h2>

<div class="col-md-10">
    <input type="text" id="CourseId" size="5"/>
    <input type="submit" name="SearchButton" value="Search"/>
</div>
<br/>
<div id="divProcessing">
        <p>Processing, Please Wait!  <img src="../../Content/ajax-loader.gif" height="50" ></p>
</div>
<div id="divResult"></div>


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    
    <script type="text/javascript">

        $(document).ready(function () {
            $("#divProcessing").hide();
            $('#SearchButton').click(function () {
                search();
            });
        });

        function search() {
            $("#divResult").empty();
            $("#divProcessing").show();
            var courseId = $("#CourseId").val();
            var url = "../api/Courses/" + courseId;
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                success: function (resp) {
                    $("#divProcessing").hide();
                    $("<h3>Results</h3>").appendTo("#divResult");
                    $("#divResult").append("<p>Name: " + resp.Name + "<br/>Year: " + resp.Year + "</p>");
                    
                }




            })



        }






    </script>
    
    
    
    
    
    
    
    
    }